<div class="card">
  <div class="card-body">
    <%= table_list do %>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <%= render 'list_header' %>
        </thead>

        <tbody>
          <%= render 'list_body' %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
