<div class="container-fluid page__heading-container">
  <div class="page__heading d-flex align-items-center">
    <div class="flex">
      <h1 class="m-0"><%= plural %></h1>
    </div>
    <div class="ml-3"><%= create_link %></div>
  </div>
</div>

<%= render 'list' %>
